body {
  margin: 0;
  min-width: 700px;
  font-family: Monsteratt, serif;
  height: 100vh;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pre-line {
  white-space: pre-line;
}

.break-word {
  word-break: break-word;
}

@font-face {
  font-family: 'Monsteratt';
  src: url('assets/Montserrat-Regular.ttf') format('truetype');
}

.main-section {
<<<<<<< HEAD
  background-image: url('assets/images/background.svg');
=======
  background-image: url("assets/images/BackgroundFoto1920.png");
>>>>>>> 78f36a6 (First homepage design changes)
  background-color: #bffa29;
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: center top;

  height: 100%;
}

.main-section > div {
  padding-top: 50vh;
}

.homepage-header {
  position: relative;
  /*left: -20%;*/
  /*bottom: -60%;*/
  font-size: 450%;
}

nav {
  background-color: #151824;
  color: #bffa29;
}

.link {
  color: #bffa29;
  text-transform: capitalize;
}

.bg-dark {
  background-color: #151824;
}

.bg-green {
  background-color: #bffa29;
}

.dark {
  color: #151824;
}

.green {
  color: #bffa29;
}
