body {
  margin: 0;
  font-family: Monsteratt, serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Monsteratt';
  src: url('assets/Montserrat-Regular.ttf') format('truetype');
}

.background {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.background-gym-clap {
  background-image: url('assets/images/BackgroundFoto1920.png');
}

.background-gym-dumbbell {
  background-image: url('assets/images/cover1920.png');
}

main > div.right-offset {
  padding-top: 35vh;
  padding-bottom: 10vh;
}

.bg-dark {
  background-color: #151824;
}

.bg-green {
  background-color: #bffa29;
}

.dark {
  color: #151824;
}

.i-dark {
  color: #151824 !important;
}

.green {
  color: #bffa29;
}

.b--green {
  border-color: #bffa29;
}

article {
  background-color: rgba(21, 24, 36, 0.7);
}

.workout-pill {
  background-color: rgba(21, 24, 36, 0.7);
}

.fitify-logo {
  height: 90px;
  width: 100px;
}

.burger ul {
  display: flex;
  flex-direction: column;
  background-color: #151824;
  position: absolute;
  right: 0;
  width: 100%;
  padding: 2rem;
  margin-top: 50px;
  border-top: #bffa29;
  border-top-style: solid;
}

.burger-desktop ul {
  display: flex;
  flex-direction: column;
  background-color: #151824;
  position: absolute;
  right: 0;
  width: 350px;
  padding: 2rem;
  margin-top: 40px;
  border-top: #bffa29;
  border-top-style: solid;
}
